  
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75vh;
      }
      .row {
        background-color: lightblue ;
        border: 1px solid #ccc;
        padding: 2px;
      }
      .form-group {
        margin-bottom: 2px;
      }
      
      .btn {
        padding: 10px 20px;
        font-size: 16px;
      }
      
      .image-container {
        max-width: 100%;
        overflow: hidden;
      }
      
      .selected-image {
        display: block;
        max-width: 10%;
        height: auto;
      }