<div class="container" *ngIf="skill">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm"> 
                <div class="form-group">
                    <label for="name">Nombre de Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="skill.nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Ingresar porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="skill.porcentaje" required>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary">Aceptar</button>
                    <button class="btn btn-secondary" routerLink="/skills">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
