<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="nombre">Nombre de Skill</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required>
                </div>
                <div class="form-group">
                    <label for="porcentaje">Porcentaje</label>
                    <input type="text" class="form-control" id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-primary">Aceptar</button>
                    <button class="btn btn-secondary" routerLink="/skills">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
